[Unit]
Description=RSERVER_GIT
Requires=rserver_git.timer

[Service]
Type=unit
User=root
Group=root
WorkingDirectory=/home/rserver/Development/rserver
ExecStart=/home/rserver/Development/rserver/run.sh

#Restart=always
#RestartSec=3
#TimeoutSec=30
